

.account-row {
    background: var(--background);
    padding: 5rem 2rem;
    
}

.account-title {
    text-align: center;
    letter-spacing: 1.3px;
    color: #1A9DF4;
    margin-bottom: 50px;
}

.account-groups {
    display: flex !important;
    padding: 0 15px;
    
}

.account-group:first-child {
    flex: 1;
    margin: 0 10px;
    
}


.seller-info{
    border: 1px solid #1A9DF4;
    padding: 10px;
    border-radius: 14px;
}
.seller-body{
    color: var(--foreground);
    padding:2rem .5rem 2rem 3rem;
}
.list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    ion-icon{
        font-size: 20px;
        color: #1A9DF4;
        --ionicon-stroke-width: 38px;
    }
}
.account-group:last-child {
    flex: 2;
    
}
.icon{
    z-index: 10;
}
.account-group .file {
    width: 140px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #1A9DF4;
    padding: 10px;
    border-radius: 14px;
}

.form-row{
    border: 1px solid #1A9DF4;
    border-radius: 14px;
}
.form-row.account {
    margin: 20px 0;
    min-height: unset;
}

.account-image {
    display: block;
    margin: 5px auto;
    background-color: #f0f3bd;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px #f0f3bd;
    color: #1A9DF4;
    letter-spacing: 1.4px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.account-image:hover {
    background-color: #1A9DF4;
    color: #f0f3bd;
}

.account-subtitle {
    margin-bottom: 30px;
    letter-spacing: 1.4px;
    color: var(--foreground);
    text-align: center;
}
.pro-subtitle {
    margin-bottom: 0px;
    letter-spacing: 1.4px;
    color: var(--foreground);
    text-align: center;
}
.products{
    display: flex;
}
.account-products {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-footer.account {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}


.account-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-orders h4 {
    margin-bottom: 10px;
}

.account-orders h4:last-child {
    margin-bottom: 40px;
}

.account-orders a.linkOrder {
    margin-left: 50px;
    transition: all 0.5s;
}

.account-orders a:hover {
    filter: drop-shadow(0 0 1px #1A9DF4);
}

.form-image {
    position: relative;
}

.form-image label {
    position: absolute;
    top: 0;
    right: 30%;
    font-size: 25px;
    cursor: pointer;
    filter: drop-shadow(0 0 1px #1A9DF4);
    transition: all 0.5s;
}

.form-image label:hover {
    color: #ca2734;
}



.seller-footer{
    padding-top: 2rem;
}

.featured-car-list {
    display: grid;
    grid-template-columns: repeat((2, 1fr));
    gap:15px;
    margin-top: -1.3rem !important;
  }
  
  .featured-car-card {
    width: 100%;
    background: var(--background);
    border: 1px solid #1A9DF4;
    border-radius: 18px;
    padding: 10px;
    position: relative;
}

.category{
  position: absolute;
  top: 7%;
  right: 7%;
  span{
    background: #1A9DF4;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 20px;
  }
}
  
  .featured-car-card .card-banner {
    background: hsla(0, 0%, 0%, 0.2);
    aspect-ratio: 3 / 2;
    border-radius: 18px;
    overflow: hidden;
  }
  
  .featured-car-card .card-banner a >  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .featured-car-card .card-content { padding: 20px 10px 10px; }
  
  .featured-car-card .card-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
  }
  
  .featured-car-card .card-title { width: calc(100% - 60px); }
  
  .featured-car-card .card-title > a {
    color: inherit;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--foreground);
  }
  
  .featured-car-card .card-title > a:is(:hover, :focus) { color: #1A9DF4; }
  
  .featured-car-card .year {
    font-family: 'Nunito', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 3px 12px;
    border: 2px dashed #1A9DF4;
    border-radius: 14px;
    color: var(--foreground);
  }
  
  .featured-car-card .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #1A9DF4;
    margin-bottom: 15px;
  }
  
  .featured-car-card .card-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .featured-car-card .card-list-item ion-icon {
    font-size: 20px;
    color: #1A9DF4;
    --ionicon-stroke-width: 38px;
  }
  
  .featured-car-card .card-item-text {
    color: var(--foreground);
    font-size: 0.875rem;
  }
  
  .featured-car-card .card-price-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 15px;
  }
  
  .featured-car-card .card-price {
    font-family: 'Nunito', sans-serif;
    font-size: 0.375rem;
    color: var(--foreground);
  }
  
  .featured-car-card .card-price strong {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .featured-car-card .btn:last-child {
    height: 36px;
    min-width: 100%;
  }
  
  .featured-car-card .fav-btn {
    background: hsl(208, 86%, 92%);
    color: hsl(204, 80%, 63%);
    height: 36px;
    width: 36px;

  }
  
  .featured-car-card .fav-btn ion-icon { font-size: 18px; }
  
  .featured-car-card .fav-btn:is(:hover, :focus) {
    background: hsl(336, 35%, 92%);
    color: vhsl(0, 79%, 63%);
  }


.filter-pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.filter-pagination ul {
    display: flex;
}

.filter-pagination ul li {
    background-color: #1A9DF4;
    border: 0.5px solid #1A9DF4;
    padding: 5px;
}

.filter-pagination ul li:hover {
    background-color: #1A9DF4;
}

.filter-pagination ul li:hover a {
    color: #ffffff;
}

.filter-pagination ul li a {
    padding: 15px;
    font-weight: bold;
}

.pagi-active {
    background-color: #1A9DF4;
    
}

.filter-pagination ul li.pagi-active a,
.filter-pagination ul li:hover a {
    color: #ffffff;
}

@media screen and (max-width: 520px){
    .account-groups{
       flex-direction: column;
    }

   .featured-car-list {
      display: grid;
      grid-template-columns: repeat((1, 1fr));
    }
}
@media screen and (max-width: 768px){
    .account-groups{
       flex-direction: column;
    }


}
@media(max-width: 900px){
 

.account-row {
    padding: 5rem .5rem;
    
}
.seller-body{
    color: var(--foreground);
    padding:2rem .5rem 2rem 1rem;
}
  
 
  }
@media screen and (max-width: 1090px){
   
.featured-car-list {
    margin-top: 0px !important;
    }


}