.footer-section{
    padding-top: 3rem;
    background: var(--background);

}


.subscribe {
	border: 3px solid #1A9DF4;
	border-radius: 40px;
	text-align: center;
	padding: 30px 0 40px;
	margin-bottom: -90px !important;
	background-color: #ffffff !important;
    width: 80%;
    margin: 0 auto;
    z-index: 9 !important;
    position: relative;

}
.subscribe-area{
    border-top: 1px solid #1A9DF4;
    padding-top: 5rem;
    z-index: 0 !important;
position: inherit;

}
.container{
    margin: 0 auto;
    width: 100%;
}


.subscribe h4 {
  text-transform: uppercase;
  font-size: 35px;
}
.subscribe p {
  font-style: italic;
  margin-bottom: 30px;
}
.subscribe input {
  width: 100%;
  padding: 20px;
  border: 0;
  background-color: #f4f4f4;
  border-radius: 10px;
  font-size: 20px;
}
.subscribe form {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.subscribe input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  background-color: #1A9DF4;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 40px;
}
.footer-area {

	position: relative;
	z-index: 2;
	color: #fff;
	padding: 160px 0 80px;
	margin-top: -115px;
	// z-index: 1;
    width: 100%;
}


.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:0 2rem;
  color: var(--foreground);
  width: 100%;
}
.single-footer:nth-child(1) {
  flex-basis: 33%;
}
.single-footer h4 {
  text-transform: capitalize;
  font-size: 22px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.single-footer h4:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #1A9DF4;
  bottom: 0;
}
.footer-social {
  margin-top: 20px;
}
.footer-social a {
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-social a:hover {
  background-color: #1A9DF4;
  border-color: #1A9DF4;
}
.single-footer ul li {
  text-transform: capitalize;
  font-size: 17px;
  border-bottom: 1px dashed #5c5c5c;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: var(--foreground);
}
.single-footer ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.single-footer ul li i {
  margin-right: 5px;
}
.single-footer ul li a:hover {
  color: #1A9DF4;
}

.footer-bottom-area {
  background-color: #1d1d1d;
  padding: 20px 0;
  color: #fff;
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copy p {
  text-transform: capitalize;
}
.footer-menu a {
  text-transform: capitalize;
  margin-left: 10px;
  transition: .3s;
  color: #f4f4f4;
}
.footer-menu a:hover {
  color: #1A9DF4;
}


@media only screen and (min-width:992px) and (max-width: 1200px) {
  .container{
    width: 100%;
  }
}

@media only screen and (min-width:768px) and (max-width: 991px) {
  .container{
    width: 750px;
  }
  .subscribe form {
    max-width: 600px;
  }
  .single-footer {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .container{
    width: 350px;
  }
  .subscribe form {
    max-width: 100%;
    margin: 0 20px;
  }
  .subscribe input[type="submit"] {
    position: static;
    width: 100%;
    margin-top: 15px;
  }
  .single-footer, .single-footer:nth-child(1){
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer-menu a {
    text-transform: capitalize;
    margin-left: 7px;
    transition: .3s;
    font-size: 14px;
  }
  .copy p {
    text-transform: capitalize;
    margin-top: 15px;
  }
}

@media screen and (max-width: 350px){
  .footer-area{
    width: 280px;
    padding: 160px 0 0px;
  }
  .subscribe-area, .footer-bottom-area {
    width: 280px;
  }
  .footer{
    
    padding: 10px;
  }


}